<div class="jumbotron">
  <div class="container">
    <h1><%= "#{@genre.name.split(" ").map(&:capitalize).join(" ")}" %></h1>
      <p>This is a Game tracker app that was done using ruby on rails and bootstraps!</p>
  </div>
</div>

<div class="container">

  <%= link_to "Update", edit_genre_path(@genre), class: "btn btn-warning" %>
  <%= link_to "Delete", genre_path(@genre), :data => {confirm: "Are Your Sure?", method: "delete"}, class: "btn btn-danger" %>
  <%= link_to "Add a Game", new_genre_game_path(@genre), class: "btn btn-primary" %>

  <div class="row">
    <% @genre.games.each do |game| %>
      <div class="col-md-3">
        <h3><%= link_to "#{game.title.split(" ").map(&:capitalize).join(" ")}", genre_game_path(@genre, game) %></h3>
        
      </div>
    <% end %>
  </div>
</div>
